<%- include('header'); -%>
<div class="content">

  <h1 id="contact">Contacts</h1>

  <h2>Name: Devansh Bhatt</h2>
  <h2>Address: 16th Street, Random Building, Dubai</h2>
  <h2>Phone Number: 050 1234567</h2>
   <h2>Emal: db2017@hw.ac.uk</h2>
  </div>
<%- include('footer'); -%>